.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #225dff;
}

.imgNavbar{
    width: 80px;
    height: 74px;
}

.titleNavbar{
    color: white;
}

a{
    margin: 10px;
    color: white;
    text-decoration: none;
}